<div class="home-office-page-container">
  <!-- Filter Component -->
  <app-date-range-filter
    title="Filter Home Office Requests"
    [startDate]="startDate"
    [endDate]="endDate"
    (startDateChange)="onStartDateChange($event)"
    (endDateChange)="onEndDateChange($event)"
    (filterApply)="applyFilter($event)">
  </app-date-range-filter>

  <!-- Dual View Component -->
  <app-dual-view-container
    title="Home Office Requests"
    preferencesKey="lastAcessedHomeOfficeRequestView"
    [tableData]="homeOfficeRequests$"
    [tableColumns]="columns"
    [enableTableEdit]="true"
    [enableTableDelete]="true"
    [enableTableAdd]="true"
    [columnDisplayNames]="{
      startDate: 'Start Date',
      endDate: 'End date'
    }"
    [calendarEvents]="calendarEvents$"
    (addItem)="openAddPopup()"
    (editItem)="openEditPopup($event)"
    (deleteItem)="deleteRequest($event)"
    (calendarEventAdded)="onCalendarEventAdded($event)"
    (calendarEventDeleted)="onCalendarEventDeleted($event)"
    (calendarEventUpdated)="onCalendarEventUpdated($event)"
    (calendarEventEditRequested)="onCalendarEditRequested($event)"
  ></app-dual-view-container>
</div>
