.clock-status-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.status-text {
  font-size: 14px;
  font-weight: 500;
  transition: color 0.6s ease;
  
  &.clocked-in {
    color: #6750a4;
  }
  
  &.clocked-out {
    color: #9585bf;
  }
}

:host-context(.dark) {
  .status-text {
    &.clocked-in {
      color: #efecf8;
    }
    
    &.clocked-out {
      color: #7e6ab2;
    }
  }
}


