<div class="absence-page-container">
  <app-date-range-filter
    title="Filter Absence Requests"
    [startDate]="startDate"
    [endDate]="endDate"
    (startDateChange)="onStartDateChange($event)"
    (endDateChange)="onEndDateChange($event)"
    (filterApply)="applyFilter($event)">
  </app-date-range-filter>

  <app-dual-view-container
    title="Absence Requests"
    preferencesKey="lastAccessedAbsenceView"
    [tableData]="tableData$"
    [tableColumns]="columns"
    [enableTableEdit]="true"
    [enableTableDelete]="true"
    [enableTableAdd]="true"
    [columnDisplayNames]="{
      date: 'Date',
      startTime: 'Start Time',
      endTime: 'End Time',
      description: 'Description'
    }"
    [calendarEvents]="calendarEvents$"
    (addItem)="openAbsencePopup()"
    (editItem)="editAbsenceRequests($event)"
    (deleteItem)="deleteAbsenceRequest($event)"
    (calendarEventAdded)="onCalendarEventAdded($event)"
    (calendarEventDeleted)="onCalendarEventDeleted($event)"
    (calendarEventUpdated)="onCalendarEventUpdated($event)"
    (calendarEventEditRequested)="onCalendarEventEditRequested($event)"
  ></app-dual-view-container>
</div>