<div class="holiday-planner-container">
  <div class="top-section">
    <app-date-range-filter
      title="Filter Holidays"
      [startDate]="startDate"
      [endDate]="endDate"
      (startDateChange)="onStartDateChange($event)"
      (endDateChange)="onEndDateChange($event)"
      (filterApply)="applyFilter($event)">
    </app-date-range-filter>

    <div class="holiday-summary">
      <div class="holiday-summary-text">
        <p>Total Days: <span>{{ holidayDays.length }}</span></p>
        <p>Planned Days: <span>{{ getPlannedDays() }}</span></p>
        <p>Days Left to Plan: <span>{{ getUnplannedDays() }}</span></p>
      </div>

      <div class="holiday-summary-squares">
        <div class="holiday-visualizer">
          <div *ngFor="let day of holidayDays" 
              [ngClass]="{'day-square': true, 'planned': day.planned, 'unplanned': !day.planned}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-dual-view-container
    title="Holiday Planner"
    preferencesKey="lastAccessedHolidayView"
    [tableData]="tableData$"
    [tableColumns]="columns"
    [enableTableEdit]="true"
    [enableTableDelete]="true"
    [enableTableAdd]="true"
    [columnDisplayNames]="{
      holidayName: 'Holiday Name',
      startDate: 'Start Date',
      endDate: 'End Date'
    }"
    [calendarEvents]="calendarEvents$"
    (addItem)="openAddPopup()"
    (editItem)="openEditPopup($event)"
    (deleteItem)="deleteRequest($event)"
    (calendarEventAdded)="onCalendarEventAdded($event)"
    (calendarEventDeleted)="onCalendarEventDeleted($event)"
    (calendarEventUpdated)="onCalendarEventUpdated($event)"
    (calendarEventEditRequested)="onCalendarEventEditRequested($event)"
  ></app-dual-view-container>
</div>
  