<h2 mat-dialog-title>Popup</h2>
    <mat-dialog-content data-cy="popup-dialog">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="data.fields?.length">
        <div *ngFor="let field of data.fields">
          <mat-form-field appearance="fill">
            <mat-label>{{ field.label }}</mat-label>
            <ng-container [ngSwitch]="field.type">
              <ng-container *ngSwitchCase="'date'">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="field.name"
                  (dateChange)="onDateChange(field.name, $event)"
                  [readonly]="field.label.toLowerCase().includes('today only')"
                  [attr.data-cy]="'popup-field-' + field.name">
                <mat-datepicker-toggle matSuffix [for]="picker" 
                  [disabled]="field.label.toLowerCase().includes('today only')"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </ng-container>

              <mat-select *ngSwitchCase="'select'" [formControlName]="field.name" [attr.data-cy]="'popup-field-' + field.name">
                <mat-option *ngFor="let option of field.options" [value]="option.value">
                  {{ option.viewValue }}
                </mat-option>
              </mat-select>

              <input
                *ngSwitchDefault
                matInput
                [formControlName]="field.name"
                [type]="field.type"
                [attr.data-cy]="'popup-field-' + field.name">
            </ng-container>
            <mat-error *ngIf="form.get(field.name)?.errors && (form.get(field.name)?.dirty || form.get(field.name)?.touched)" [attr.data-cy]="'popup-field-' + field.name + '-error'">
              <ng-container *ngIf="form.get(field.name)?.errors?.['required']">
                {{ field.label }} is required
              </ng-container>
              <ng-container *ngIf="form.get(field.name)?.errors?.['endBeforeStart']">
                End time must be after start time
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
      </form>

      <ng-container *ngIf="data.embeddedComponent">
        <ng-container *ngComponentOutlet="data.embeddedComponent; injector: embeddedInjector"></ng-container>
      </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onCancel()" data-cy="popup-cancel-button">Cancel</button>
      <button mat-button (click)="onSubmit()" [disabled]="!form.valid" *ngIf="data.fields?.length" data-cy="popup-save-button">Submit</button>
    </mat-dialog-actions>